<ui-board [uiBoardState]="currentGame.state" (uiBoardMove)="onMove($event)"></ui-board>
<ui-result [uiResult]="currentGame.result"></ui-result>
<ui-controls
        [uiControlsGame]="currentGame"
        (uiControlsPlayerSelectCrosses)="onPlayerChangeCrosses($event)"
        (uiControlsPlayerSelectNoughts)="onPlayerChangeNoughts($event)"
        (uiControlsNewGame)="onNewGame()"></ui-controls>

<ui-scoreboard [uiScoreboardGames]="gameCount" [uiScoreboardCrosses]="winsCrosses" [uiScoreboardDraws]="draws" [uiScoreboardNoughts]="winsNoughts"></ui-scoreboard>
